In [1]:
import h5py
import matplotlib.pyplot as plt
from numpy import *
import os
import sys
import scipy.optimize as opt

In [95]:
def get_ivars(iteration: h5py._hl.group.Group, *ivar_names: str) -> Dict[str, Any]:
    """
    Gets the values of independent variables for the iteration that was passed in
    
    Args:
        iteration: the data group corresponding to an iteration
        *ivar_names: list of names of independent variables
    Returns:
        ivar_vals : map of ivar_names to their values
    """
    return {name: iteration[f"variables/{name}"][()] for name in ivar_names}

In [161]:
h5file = h5py.File('results.hdf5',mode='r+')

#Find number of measurements per experiment
measurements = h5file['settings/experiment/measurementsPerIteration'][()]
num_its = len(h5file['iterations'])

#Find independent variable names and values
indep_vars = {}
if len(h5file['iterations'])> 1:
    for variable in h5file['settings/experiment/independentVariables'].items():
        values = eval(variable[1]['function'][()])
        #print(f"{variable[0]}\n\t{values}")
        if iterable(values):
            indep_vars.update({variable[0]: list(values)})

# map iterations to independent variable values
iterations = pd.DataFrame(columns=["Iteration"]+list(indep_vars.keys()))
for iteration in h5file['iterations'].items():
    ivar_vals = get_ivars(iteration[1],*list(indep_vars.keys()))
    ivar_vals.update({"Iteration": iteration[0]})
    iterations = iterations.append(pd.DataFrame(ivar_vals, index = [iteration[0]]))

In [162]:
print(indep_vars)
iterations

{'PGC1_ShimX': [0.55, 0.5750000000000001, 0.6000000000000001, 0.625, 0.65, 0.675, 0.7000000000000001, 0.7250000000000001, 0.75, 0.775, 0.8, 0.8250000000000001, 0.8500000000000001, 0.875, 0.9000000000000001, 0.925, 0.9500000000000001, 0.9750000000000001, 1.0, 1.0250000000000001, 1.05]}

   Iteration  PGC1_ShimX
0          0       0.550
1          1       0.575
10        10       0.800
11        11       0.825
12        12       0.850
13        13       0.875
14        14       0.900
15        15       0.925
16        16       0.950
17        17       0.975
18        18       1.000
19        19       1.025
2          2       0.600
20        20       1.050
3          3       0.625
4          4       0.650
5          5       0.675
6          6       0.700
7          7       0.725
8          8       0.750
9          9       0.775

In [130]:
iterations

    PGC1_ShimX
0        0.550
1        0.575
10       0.800
11       0.825
12       0.850
13       0.875
14       0.900
15       0.925
16       0.950
17       0.975
18       1.000
19       1.025
2        0.600
20       1.050
3        0.625
4        0.650
5        0.675
6        0.700
7        0.725
8        0.750
9        0.775

# Hamamatsu

In [17]:
## Put pixel-by-pixel data into an array

shots_per_measurement = int(h5file['/settings/experiment/LabView/camera/shotsPerMeasurement/function'][()])

hm_pix_data = zeros(
    (num_its, measurements,shots_per_measurement),
    dtype=float
)

iterations.insert(len(indep_vars.keys()),"Hamamatsu",zeros(len(iterations)))

shots_per_measurement = int(h5file['/settings/experiment/LabView/camera/shotsPerMeasurement/function'][()])

for iteration, row in iterations.iterrows():
    for measurement in range(measurements):
        for shot in range(shots_per_measurment):
            
        
        iteration[1][f'measurement/{measurement}']

In [163]:
iterations.insert(len(indep_vars.keys()),"Hamamatsu",empty(len(iterations),dtype=object))

In [164]:
print(iterations)

   Iteration Hamamatsu  PGC1_ShimX
0          0      None       0.550
1          1      None       0.575
10        10      None       0.800
11        11      None       0.825
12        12      None       0.850
13        13      None       0.875
14        14      None       0.900
15        15      None       0.925
16        16      None       0.950
17        17      None       0.975
18        18      None       1.000
19        19      None       1.025
2          2      None       0.600
20        20      None       1.050
3          3      None       0.625
4          4      None       0.650
5          5      None       0.675
6          6      None       0.700
7          7      None       0.725
8          8      None       0.750
9          9      None       0.775

In [171]:
iterations['Hamamatsu'][10] = 5

<ipython-input-171-11fb627f3a9c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iterations['Hamamatsu'][10] = 5

* Ensure once things get better they can get involved in Madison
* Not isolated
* on slack (check)
* check on classes/TAing